<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4c01eff087.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    
    <title>Home</title>
</head>
<body>
    <header>        
            <nav class="nav-login">
                <div>
                    <a href=""><img class="logo" src="/images/Logo.png" alt="Logo"></a>
                </div>
                
                <a href=""><h3>Productos</h3></a>
                
                <!--
                    <a href=""><h4>Alimento balanceado</h4></a>
                 <ul>
                                    <ul>
                    
                                        <li><a href="">Perros</a></li>                            
                                        <li><a href="">Gatos</a></li>
                                    </ul>                    
                            </ul>    
                            <ul>
                                <a href=""><h4>Higiene & accesorios</h4></a>     
                                    <ul>
                                        <li><a href="">Perros</a></li>
                                        <li><a href="">Gatos</a></li>
                                    </ul>     
                            </ul> -->                  
                <a href=""><h3>Servicios</h3></a>
                            <!-- <ul>
                                <a href=""><h4>Cortes de pelo</h4></a>
                                    <ul>
                                        <li><a href="">Perros</a></li>                            
                                        <li><a href="">Gatos</a></li>
                                    </ul>                    
                            </ul>    
                            <ul>
                                <a href=""><h4>Baños</h4></a>     
                                    <ul>
                                        <li><a href="">Perros</a></li>
                                        <li><a href="">Gatos</a></li>
                                    </ul>     
                            </ul> -->                  
                            
                <a href=""><h3>Nosotros</h3></a>
                <a href=""><i class="fa-solid fa-user fa-2x"></i></a> 
            </nav>

            <nav class="nav-hambur">
                <a href=""><i class="fa-solid fa-bars fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-circle-question fa-2x"></i></a>
                <a href=""><i class="fa-solid fa-cart-shopping fa-2x"></i></a>                 
            </nav>
    </header>

    <main class="login"> 
        <nav>
            <h1>Acceder</h1>
            <form action="" method="get">
                <ul>
                    <li>
                        <label for="name">Nombre de usuario o e-mail</label>
                        <input type="text" id="name" name="user_name">
                    </li>
                    <li>
                        <label for="name">Contraseña</label>
                        <input type="text" id="name" name="user_name">
                    </li>
                </ul>
            </form>
                
                    
                    <p>Contraseña</p>
                <h2>Entrar</h2>
                    <h5>¿Olvidaste tu contraseña?</h5>
                    <h5>¿No tenes cuenta?</h5>
                    <h1>Registrarse</h1>
            
        
        </nav>
            


    </main>

    <footer>
        <section>
            
            <h3>Sobre nosotros</h3>
            <p>¿Tenes dudas? ¡Contactanos!</p>
            <img src="" alt="Icono-telefono">
            <p>0800-222-800</p>
            <img src="" alt="Icono-correo">
            <p>tambienladramos@gmail.com</p>
        </section>

        <section>            <!-- <p>FONDO-LOGO</p> -->
            <h3>¡Seguinos!</h3>
            <img src="" alt="Icono-instagram">
            <p>#TambiénLadramos</p>
        </section>

        <section class="c14">               <!-- <p>FONDO-LOGO</p> -->
            <!-- <h3>Legales</h3>
            <p>Institucional</p>
            <p>Política de privacidad</p> -->
            <h3>Hecho con <a href=""><i class="fa-solid fa-heart"></i></a> por la Comisión 14</h3> 
            
        </section>
            <h3>2022 - All rights Reserved</h3>
    </footer>

</body>
</html>